h1{
    color: #ff0000;
    
}
body{
    background-image: url('https://www.teahub.io/photos/full/218-2189122_photo-wallpaper-light-smoke-color-rainbow-web-multi.jpg  ');

}
h3{
     font-family: cursive ;
     color: #301f90;
}
     