{% extends 'miniblogs.html' %}
{% block start %}

<section class="position-relative py-6">
    <img class="bg-image" src="static\pexels-sharon-mccutcheon-1191710.jpg" alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Featured</strong>
            <h2 class="mb-3">Stonewall.</h2>
            <p class="text-muted">Lesbian, Gay, Bisexual and Transgender. Over the last 10 years, LGBT people have gained more and more forbearance and acceptance in India, especially in large metropolises.
Nevertheless, utmost LGBT people in India remain closeted, stewing demarcation from their families... 
</p><a class="btn btn-link p-0" href="">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6">
    <div class="container">
      <div class="row mb-5">
        <!-- blog item-->
        {% for blog in blogs %}
        <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
          <div class="card shadow border-0 h-100">
            <a href="{% url 'blogdetail' blog.slug %}">
              <img class="img-fluid card-img-top" src="{{blog.image}}" alt="No image"/></a>
            <div class="card-body"><a class="text-uppercase text-muted text-sm letter-spacing-2" href="#">
              {{blog.user.username}} </a>
              <h5 class="my-2"><a class="text-dark" href="{% url 'blogdetail' blog.slug %}">
              {{blog.title}}          </a></h5>
              <p class="text-gray-500 text-sm my-3"><i class="far fa-clock 2"></i>
              {{blog.created_at}}</p>
              
              <a class="btn btn-link pl-0"href="{% url 'blogdetail' blog.slug %}">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a> 
            </div>
          </div>
        </div>
        {% endfor %}
      
      
      </div>
      <!-- Pagination -->
      <nav aria-label="Blog pagination">
        <ul class="pagination justify-content-between mb-5">
          
        </ul>
      </nav>
    </div>
  </section>
  <!-- Footer-->

  {% endblock %}