{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %} 
{% load static %}


<body style=" background: url(https://www.teahub.io/photos/full/218-2189122_photo-wallpaper-light-smoke-color-rainbow-web-multi.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 1000px;">   
<section class="position-relative py-6">
 
    <img class="bg-image" src="" alt="">
    <div class="container"style="padding-top:100px;padding-left:100px">
      <div class="row">
        <div class="col-lg-6">
          <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Featured</strong>
            <h2 class="mb-3">About Us</h2>
            <p class="text-muted">This is a website that will define and destigmatize the LGBTQIAP+ People, in addition to providing help to them and their loved ones.
        WHAT DOES LGBTQ MEAN:
        LGBT OR GLBT is an initialism that stands for lesbian, gay, bisexual, transgender and it is in use since the 90s it's an adaptation for LGB. To recognize this inclusion, a well-liked variant, LGBTQ, adds the letter Q for those that identify as queer or are questioning their sexual or identity 
</p><a class="btn btn-link p-0" href="/definitions">Continue reading <i class="fa fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

 <section class="py-6">
    <div class="container">
      <div class="row mb-5">
        <!-- blog item-->
        {% for blog in blogs %}
        <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
          <div class="card shadow border-0 h-100">
            <a href="{% url 'blogdetail' blog.slug %}">
              <img class="img-fluid card-img-top" src="{{blog.image}}" alt="No image"/></a>
            <div class="card-body"><a class="text-uppercase text-muted text-sm letter-spacing-2" href="#">
              {{blog.user.username}} </a>
              <h5 class="my-2"><a class="text-dark" href="{% url 'blogdetail' blog.slug %}">
              {{blog.title}}          </a></h5>
              <p class="text-gray-500 text-sm my-3"><i class="far fa-clock 2"></i>
              {{blog.created_at}}</p>
              
              <a class="btn btn-link pl-0"href="{% url 'blogdetail' blog.slug %}">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a> 
            </div>
          </div>
        </div>
        {% endfor %}
      
      </section>
     

{% endblock body %}