{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %} 
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<body> 
    <h1 style="text-align: center; font-family: cursive;">We are here to help</h1>
    <h3>This is a website that will define and destigmatize the LGBTQIAP+ People, in addition to providing help to them and their loved ones.
        WHAT DOES LGBTQ MEAN:
        LGBT OR GLBT is an initialism that stands for lesbian, gay, bisexual, transgender and it is in use since the 90s it's an adaptation for LGB. To recognize this inclusion, a well-liked variant, LGBTQ, adds the letter Q for those that identify as queer or are questioning their sexual or identity </h3>
        <img style="height: 25em; padding-left: 20em;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Gay_flag_8.svg/2560px-Gay_flag_8.svg.png" alt="" >

        <h4 style="font-family: pacifico; color: #fb2206; font-size: 2em">WHAT DOES LESBIAN MEAN?</h4>
        <h4 style="font-family: cursive; color: #301f90;"> lesbian is a homosexual woman. The word lesbian is additionally used for ladies concerning their sexual identity or sexual behavior, no matter sexual orientation, or as an adjective to characterize or associate nouns with female homosexuality or same-sex attraction.
        Women in homosexual relationships in Europe and therefore the us skilled the discrimination and repression either by hiding their personal lives or accepting the label of outcast and creating a subculture and identity.        
        </h4>
      <h4 style="font-family: pacifico; color: #fb2206; font-size: 2em">WHAT DOES GAY MEAN?</h4>
      <h4 style="font-family: cursive; color: #301f90;"> People usually describe themselves as ‘gay’ or ‘homosexual’ when they find themselves emotionally and sexually attracted exclusively to people of their gender. Some women who are gay call themselves ‘lesbians’. People who are sexually attracted to two or more gender often describe themselves as ‘bi’or‘bisexual’.
        3. B-BISEXUALITY
        Bisexuality is romantic attraction, sexual attraction, or sexual behavior toward both males and females, or to quite one gender. It may even be defined to incorporate romantic or sexual attraction to people no matter their sex or identity , which is additionally referred to as pansexuality.
    </h4>
    <h4 style="font-family: pacifico; color: #fb2206; font-size: 2em">WHAT DOES QUEER MEAN?</h4>
    <h4 style="font-family: cursive; color: #301f90;"> Queer is an umbrella term for sexual and gender minorities who aren't heterosexual or aren't cisgender. Originally meaning "strange" or "peculiar", queer came to be used pejoratively against those with same-sex desires or relationships within the late 19th century. Beginning within the late 1980s, queer activists, like the members of Queer Nation, began to reclaim the word as a deliberately provocative and politically radical alternative to the more assimilationist branches of the LGBT community
        BIOLOGICAL BASIS OF SEXUAL ORIENTATION:
        Sexual orientation is one among the most important sex differences in humans. The overwhelming majority of the population is heterosexual, that is, they're interested in members of the other sex. However, alittle but significant proportion of individuals are bisexual or homosexual and knowledge attraction to members of an equivalent sex. The origins of the phenomenon have long been the topic of scientific study. In this chapter, we'll review the evidence that sexual orientation has biological underpinnings and consider the involvement of epigenetic mechanisms. We will first discuss studies that show that sexual orientation features a genetic component. These studies show that sexual orientation is more concordant in monozygotic twins than in dizygotic ones which male sexual orientation is linked to many regions of the genome.
    </h4>
    <h4 style="font-family: pacifico; color: #fb2206; font-size: 2em;">PSYCHOLOGY OF HUMAN SEXUALITY</h4>
    <h4 style="font-family: cursive; color: #301f90;">Sexuality is one among the elemental drives behind everyone’s feelings, thoughts, and behaviors. It defines the means of biological reproduction, describes psychological and sociological representations of self, and orients a person’s attraction to others. Further, it shapes the brain and body to be pleasure-seeking. Yet, as important as sexuality is to be human, it is often viewed as a taboo topic for personal or scientific inquiry
    </h4>
</h4>
<h4 style="font-family: pacifico; color: #fb2206; font-size: 2em;">EXPLORING IDENTITIES</h4>
<h4 style="font-family: cursive; color: #301f90;">Everyone has intersecting identities. Everyone has an identity or lived experience that's influenced by their racial/ethnic background, sexual orientation, identity , gender expression, religious/faith tradition, family structure, geographic origin, socioeconomic status, and ability/disability. For people coming out for sexual orientation, gender identity, or gender expression this emerging identity may be perceived as conflicting or mutually exclusive of these other aspects of identity (e.g., between sexual orientation and spiritual beliefs).
    People often hunt down community-based on identities that influence their lived experiences. It may be challenging for people that hold multiple marginalized identities to seek out community.
    For example, LGBTIQAP+ identified folks may find community in LGBTIQA+ organizations but if an organization is not inclusive in terms of people who are not white, then an LGBTIQA+ person who is Asian or African American might not feel welcomed. However, those self same people might not feel welcomed during a predominantly Asian or African American community if that community isn't inclusive of individuals who are LGBTIQA+ identified.
    It is always best to offer resources that are specific to the requirements and/or identities that an individual says are important to them. Resources aren't necessarily “one-size-fits-all." When giving resources, be mindful of intersecting identities.
    
</h4>
    </body>

{% endblock body %}