{% extends 'base.html' %}
{% block title %}Mental Health{% endblock title %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link
  rel="stylesheet"
  href="#">
  <body style=" background: url(https://www.teahub.io/photos/full/218-2189122_photo-wallpaper-light-smoke-color-rainbow-web-multi.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 5000px;">  
  
    
    <h1 style="color: rgb(14, 14, 12); text-align: center;padding-top: 1em;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Mental Health</h1>
    <p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;"><b><b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;"> </p>  


For someone to have the best possible life, they have an undeniable need to have good mental health. Unfortunately, it has been seen that mental health is not given enough importance in most cases. At the conception of Stonewall, one of the major challenges that was put up to challenge was the taboo about mental health.
 <p style="font-family: cursive;padding-top: 1em;padding-left :4em;padding-right: 4em;font-size: 1.2em;"><b><b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;"> Taking care of oneself and one’s loved ones in something that gets addressed more nowadays, which is a step in the right direction. For facilitating this upwards trend, the following is a resource to help you navigate the world that is mental health care.   </p>
<p style="font-family: cursive;padding-top: 1em;padding-left :4em;padding-right: 4em;font-size: 1.2em;"><b>Some Definitions<b></p>
 <p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>According to the World Health Organisation:<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">    </p>

<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>“Mental health is the foundation for the well-being and effective functioning of individuals. It is more than the absence of a mental disorder; it is the ability to think, learn, and understand one's emotions and the reactions of others. Mental health is a state of balance, both within and with the environment.”<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">    </p>

<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>In short, Mental Health is a basic trait of quality of living and includes the absence of mental health disorders, the ability to think, learn and understand emotions and the capability to gauge people’s reactions.<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">    </p>

<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>Professionals<b></p>
<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>Healthcare has recently begun to really dive into mental health and with that, there exist a lot of resources to help one get started in the process of self care, caring for others and having an ideal balance of life. To that end, the following is a set of professional tools and people who provide mental health services.<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">    </p>

<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>Therapy<b></p>
<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>BetterHelp (Overall Care) - https://www.betterhelp.com/
Rethink My Therapy (Family Therapy) - https://rethinkmytherapy.com/
Amwell (Flexible Scheduling) - https://business.amwell.com/
Pride Counselling (For the LGBTQIAP+ Community) - https://www.pridecounseling.com/<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">    </p>

<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>Helplines<b></p>
<p style="font-family: cursive;padding-top: 1em;font-size: 1.2em;"><b>Helplines:
A list of hotlines sorted by country - 
https://www.therapyroute.com/article/helplines-suicide-hotlines-and-crisis-lines-from-around-the-world<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">    </p>

{% endblock body %}