{% extends 'base.html' %}
{% block title %}Pride Section{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link
  rel="stylesheet"
  href="#">
  <body style=" background: url(https://www.teahub.io/photos/full/218-2189122_photo-wallpaper-light-smoke-color-rainbow-web-multi.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 5000px;">  
  
    
    <h1 style="color: rgb(14, 14, 12); text-align: center;padding-top: 1em;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">21 LGBTQ PRIDE FLAGS</h1>
    <p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;"><b>GILBER BAKER PRIDE FLAG.<b></p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;"> 1978 Gilber baker created a pride flag and he wished to form one thing positive therefore he selected to form rainbow flag.
Pink: Sex, Red: Life, Orange: Healing, Yellow: daylight, Green: Nature, Turquoise: Magic, Blue: Harmony, Violet: Spirit.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Gay_flag_8.svg/2560px-Gay_flag_8.svg.png" alt="" >

<p style="font-family: cursive; text-align: center;padding-top: 1em;font-size: 1.2em;">1978-1999 pride flag.</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;"> After the ilber baker flag created in 1978, the demand of pride flags enlarged, but gilbert found the pink color exhausting to return by, therefore he selected to decrease the quantity of colors on the flag to seven so as to stay up with the demand.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/version-with-hot-pink-removed-due-to-fabric-unavailability-1592236387.jpg?crop=1xw:0.9992372234935164xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive; text-align: center;padding-top: 1em;font-size: 1.2em;">Rainbow pride flag.</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">This flag is employed to symbolize the LGBTQ community. several organizations use this flag as an emblem to point out that their institution may be a safe house for everybody within the community.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR4AAACwCAMAAADudvHOAAAAM1BMVEXkAwN1B4f/7QD/jAAAgCYATf/3awH/jgD/iQD/rQD/8QD87QAAggAAXs0AS/8zPN15AICRA/SpAAABL0lEQVR4nO3Qt2ECAAAEsSfagAn7T+sNrqGVRtAGAAAAAAAAAPC9K2E/hJ0IepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJetJ+CbsRdifsSNCT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9KQ9CDsT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/aH2FPwl6EXQh6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp60N2Efwg4EPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP+AcWZTf8DE7k8AAAAAElFTkSuQmCC" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Philadelphia's folks of Color comprehensive Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">This flag was created in 2017 to convey illustration to black and brown folks within the LGBTQ community and also the distinctive challenges they face.
</p>
 
<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/philadelphia-people-of-color-inclusive-flag-1592236468.jpg?crop=0.9xw:1xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em; ">Queer folks of Color Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">The origins of this flag square measure unknown,but it represents commonness with the BLM movement and also the intersection of the queer and Black communities.</p>
6
<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">"Progress" Pride Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">This flag was created in 2018 by Daniel heavenly body. It combines {the colors|the colors} and stripes from Philly's version of the pride flag and also the colours of the transgender pride flag. </p>

<img style="height: 9em;padding-left :4em;padding-right: 4em;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3bFVNiDUdM20DZ2uLHKaoen00uOLVB6b56w&usqp=CAU" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Bisexual Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">According to pride,this flag was created by activist Michael Page. He wished to form an emblem for bisexual folks to feel connected to. every of the colors symbolize some quite attraction:
    Pink (or magenta): Same-sex attraction
    (Royal) blue: Opposite-sex attraction
    Purple (lavender): Attraction to each sexes.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bisexualprideflag-646857000-1592312142.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Pansexual Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">it's unclear who truly created this flag, however ever since it started showing ,it's become an emblem of attraction to all or any genders.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pansexualprideflag-1085565558.jpg?crop=0.9xw:1xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Polysexual Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">Unlike someone who is pansexual,  who identifies as polysexual is interested in multiple, although not all genders. This flag was created on Tumblr in 2012.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/polyamoryprideflag-1165931894.jpg?crop=1xw:0.9943582510578279xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Asexual Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">This flag was produced in 2010 to assist create awareness to the community.
  Black color Represents physiological property as an entire
  Grey Represents gray physiological property and demisexuality.
  White Represents sex
  Purple Represents community</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/asexualdemisexualflag646856872-1592312612.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Demisexual Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">Since demisexuality exists on the agamogenetic spectrum, the colours square measure just like the agamogenetic flag, although it will have its own, distinctive configuration.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/demisexualflag-1617844798.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Lesbian Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">The original lesbian pride flag had a red kiss mark within the prime left corner. In 2018 McCray was suspect of transphobia, biphobia and racism among alternative things. As a result, the new flag with orange stripes was projected.
  In the new flag, the colors represent the following:
  Darkest Orange: Gender non-conformity
  Middle Orange: Independence
  Lightest Orange: Community
  White: distinctive relationships to womanhood
  Lightest Pink: Serenity and peace
  Middle Pink: Love and sex
  Darkest Pink: muliebrity</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lesbian-flag-1617840095.png?crop=1xw:1xh;center,top&resize=980:*" alt="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Androgyne Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">This flag was created in 2013 by Morgan Carpenter.
  The most unremarkably used androgyne flag incorporates a yellow backcloth and an ideal purple circle within the center. it's accustomed represent the androgyne community, which means the folks that compose it.</p>



<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Transgender Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">this flag was created by transgender girl Monica Helms in 1999.
  Blue: Represents boys,Pink: Represents ladies,White: Represents folks that square measure transitioning, don't have any gender or square measure gender neutral</p>

  <img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Genderqueer Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">The flag was created by Marilyn Roxie in 2011.The colours during this flag represents the following:
  Lavender: Represents hermaphroditism
  White: Represents agender identities
  Green: Represents non-binary folks</p>

  <img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Genderfluid Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">The flag was created by JJ Poole in 2012 consistent with OutRight Action International.
  Pink: Represents muliebrity
  White: Represents all genders
  Purple: Represents each masculinity and feminity
  Black: Represents a scarcity of gender
  Blue: Represents masculinity</p>

  <img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Agender Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">This pride flag was created in 2014 by Salem 
  white: Represent an absence of gender
  Gray: Semi-genderlessness
  Green: Non-binary genders</p>

  <img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Aromantic Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">In the flag, that's pictured by the inexperienced whereas the grey and black represent all aromantic sexualities, each agamogenetic and sexual.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Non-Binary Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">this pride flag was created in 2014 by Kye Sorbus aucuparia for non-binary folks that did not feel the genderqueer flag represents them.
  Yellow: Represents genders outside of the gender binary
  White: Represents folks that determine with several or all genders
  Purple: Represents genders that square measure a mix of male and feminine
  Black: Represents folks that square measure agender</p>

  <img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Polyamory Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">pi, which fits on indefinitely is that the good image for the polyamory flag. The golden color, meanwhile, represents emotional affiliation, as critical sexual practice.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

<p style="font-family: cursive;text-align: center;padding-top: 1em;font-size: 1.2em;">Straight Ally Flag</p>
<p style="font-family: cursive;padding-left :4em;padding-right: 4em;">The combination of the black and white stripes and also the rainbow represent the allies' support of the LGBTQ+ community.</p>

<img style="height: 10em;padding-left :4em;padding-right: 4em;" src="">

</body>
</head>
{% endblock body %}